body {
  margin: 0;
  padding: 0;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.main-container {
  background-color: midnightblue;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-container {
  width: 1200px;
  height: 375px;
  border: 1px solid white;
}

.game-title {
  color: whitesmoke;
}

.info-screen {
  display: flex;
}

.text-container,
.stats-container {
  background-color: black;
  width: 600px;
  height: 200px;
  border: 1px solid gray;
  overflow: scroll;
}

.text-container::-webkit-scrollbar {
  display: none;
}

.text {
  margin: 5px 0 0 5px;
}

.stats-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.stats-container > :first-child {
  margin-top: 5px;
}

.stats-container> :last-child {
  margin-bottom: 5px;
}

.stat {
  color: white;
}
